<section class="container">
	<h1 class="section__header">Nasze projekty</h1>
	<div class="projects__container">
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/70_lat_wne.png" alt="Zdjęcie projektu - 70-lecie Wydziału Nauk Ekonomicznych" class="projects__image">
				<p class="projects__state ended">Zakończony</p>
			</div>
			<h3 class="projects__title">70-lecie Wydziału Nauk Ekonomicznych</h3>
			<p class="projects__description">Quisque at condimentum enim, ut suscipit lacus. Nunc ullamcorper, odio non maximus ornare, mi leo elementum dolor, sed facilisis lacus dolor pellentesque lorem.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/inStudy.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state ended">Zakończony</p>
			</div>
			<h3 class="projects__title">inStudy</h3>
			<p class="projects__description">Quisque at condimentum enim, ut suscipit lacus. Nunc ullamcorper, odio non maximus ornare, mi leo elementum dolor, sed facilisis lacus dolor pellentesque lorem.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/promotion.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state ended">Zakończony</p>
			</div>
			<h3 class="projects__title">proMOTION</h3>
			<p class="projects__description">Quisque at condimentum enim, ut suscipit lacus. Nunc ullamcorper, odio non maximus ornare, mi leo elementum dolor, sed facilisis lacus dolor pellentesque lorem.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/karierosfera.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state in_progress">W trakcie</p>
			</div>
			<h3 class="projects__title">Karierosfera</h3>
			<p class="projects__description">Quisque at condimentum enim, ut suscipit lacus. Nunc ullamcorper, odio non maximus ornare, mi leo elementum dolor, sed facilisis lacus dolor pellentesque lorem.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/brandico.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state in_progress">W trakcie</p>
			</div>
			<h3 class="projects__title">Brandico</h3>
			<p class="projects__description">Quisque at condimentum enim, ut suscipit lacus. Nunc ullamcorper, odio non maximus ornare, mi leo elementum dolor, sed facilisis lacus dolor pellentesque lorem.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/feb.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state in_progress">W trakcie</p>
			</div>
			<h3 class="projects__title">FEB</h3>
			<p class="projects__description ">Quisque at condimentum enim, ut suscipit lacus. Nunc ullamcorper, odio non maximus ornare, mi leo elementum dolor, sed facilisis lacus dolor pellentesque lorem.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/design_thinking.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state in_progress">W trakcie</p>
			</div>
			<h3 class="projects__title">Design Thinking</h3>
			<p class="projects__description">Quisque at condimentum enim, ut suscipit lacus. Nunc ullamcorper, odio non maximus ornare, mi leo elementum dolor, sed facilisis lacus dolor pellentesque lorem.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/econopolis.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state in_progress">W trakcie</p>
			</div>
			<h3 class="projects__title">Econopolis</h3>
			<p class="projects__description">Quisque at condimentum enim, ut suscipit lacus. Nunc ullamcorper, odio non maximus ornare, mi leo elementum dolor, sed facilisis lacus dolor pellentesque lorem.</p>
		</div>
	</div>
</section>
