<section class="container" id="projekty">
	<h1 class="section__header">Nasze projekty</h1>
	<div class="projects__container">
      <div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/inStudy.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state in_progress">W trakcie</p>
			</div>
			<h3 class="projects__title">inStudy</h3>
			<p class="projects__description">Portal zrzeszający inicjatywy studenckie we Wrocławiu. Umożliwia studentom zakładanie profili dla prowadzonej przez nich aktywności oraz wyszukiwanie ciekawych inicjatyw w interesujących ich dziedzinach.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/70_lat_wne.png" alt="Zdjęcie projektu - 70-lecie Wydziału Nauk Ekonomicznych" class="projects__image">
				<p class="projects__state ended">Zakończony</p>
			</div>
			<h3 class="projects__title">70-lecie Wydziału Nauk Ekonomicznych</h3>
			<p class="projects__description">Strona z okazji 70-lecia Wydziału Nauk Ekonomicznych Uniwersytetu Ekonomicznego we Wrocławiu oraz system rejestracji na związaną z nim konferencję.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/promotion.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state ended">Zakończony</p>
			</div>
			<h3 class="projects__title">proMOTION</h3>
			<p class="projects__description">Strona-wizytówka zrealizowana dla Koła Naukowego Marketingu I Zarządzania działającego na Uniwersytecie Ekonomicznym we Wrocławiu</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/karierosfera.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state in_progress">W trakcie</p>
			</div>
			<h3 class="projects__title">Karierosfera</h3>
			<p class="projects__description">Sstrona dla ogólnopolskiego konkursu Karierosfera realizowanego przez stowarzyszenie WIGGOR.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/brandico.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state ended">Zakończony</p>
			</div>
			<h3 class="projects__title">Brandico</h3>
			<p class="projects__description">Strona-wizytówka realizowana dla Koła Naukowego Brandico działającego na Uniwersytecie Wrocławskim.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/feb.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state in_progress">W trakcie</p>
			</div>
			<h3 class="projects__title">FEB</h3>
			<p class="projects__description">Strona-wizytówka oraz baza archiwalnych szkoleń realizowane dla Forum Edukacji Biznesowej działającego na Uniwersytecie Ekonomicznym we Wrocławiu.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/design_thinking.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state in_progress">W trakcie</p>
			</div>
			<h3 class="projects__title">Design Thinking</h3>
			<p class="projects__description">Strona-wizytówka realizowana dla Koła Design Thinking działającego na Uniwersytecie Ekonomicznym we Wrocławiu.</p>
		</div>
		<div class="projects__project">
			<div class="projects__image-container">
				<img src="./img/projects/econopolis.png" alt="Zdjęcie projektu - inStudy" class="projects__image">
				<p class="projects__state in_progress">W trakcie</p>
			</div>
			<h3 class="projects__title">Econopolis</h3>
			<p class="projects__description">Multiblog ekonomiczny prowadzony przez studentów z Koła Naukowego Badań Rynków i Konkurencji (BRIK).</p>
		</div>
	</div>
</section>
