<section class="container" id="kim_jesteśmy">
	<h1 class="section__header">Kim jesteśmy?</h1>
	<p class="about__description">Jesteśmy jednym z najmłodszych kół działających na Uniwersytecie Ekonomicznym we Wrocławiu. Powstaliśmy, aby połączyć pasje i umiejętności studentów związane z tworzeniem stron i aplikacji internetowych a następnie wykorzystywać je do realizacji wartościowych idei.  Łącząc siły pragniemy stworzyć miejsce, w którym każda osoba zainteresowana tematyką koła będzie mogła rozwijać swoje umiejętności poprzez praktyczne projekty, szkolenia oraz wymianę wiedzy z pozostałymi członkami.</p>
	<div class="about__areas">
		<div class="areas__area">
			<div class="areas__icon blue">
				@@include('../../img/about/004-vector.svg')
			</div>
			<div class="areas__content">
				<h5 class="areas__title blue">Grafika komputerowa</h5>
				<p class="areas__description">Cras ante massa, eleifend ut congue non, cursus et ante. Proin molestie risus at porta egestas. Nullam et ex ligula. Integer fringilla neque eu lorem hendrerit finibus.</p>
			</div>
		</div>
		<div class="areas__area">
			<div class="areas__icon blue">
				@@include('../../img/about/006-computer.svg')
			</div>
			<div class="areas__content">
				<h5 class="areas__title blue">Frontend development</h5>
				<p class="areas__description">Cras ante massa, eleifend ut congue non, cursus et ante. Proin molestie risus at porta egestas. Nullam et ex ligula. Integer fringilla neque eu lorem hendrerit finibus.</p>
			</div>
		</div>
		<div class="areas__area">
			<div class="areas__icon blue">
				@@include('../../img/about/005-database.svg')
			</div>
			<div class="areas__content">
				<h5 class="areas__title blue">Backend development</h5>
				<p class="areas__description">Cras ante massa, eleifend ut congue non, cursus et ante. Proin molestie risus at porta egestas. Nullam et ex ligula. Integer fringilla neque eu lorem hendrerit finibus.</p>
			</div>
		</div>
		<div class="areas__area">
			<div class="areas__icon green">
				@@include('../../img/about/002-presentation.svg')
			</div>
			<div class="areas__content">
				<h5 class="areas__title green">Warsztaty</h5>
				<p class="areas__description">Cras ante massa, eleifend ut congue non, cursus et ante. Proin molestie risus at porta egestas. Nullam et ex ligula. Integer fringilla neque eu lorem hendrerit finibus.</p>
			</div>
		</div>
		<div class="areas__area">
			<div class="areas__icon green">
				@@include('../../img/about/003-books.svg')
			</div>
			<div class="areas__content">
				<h5 class="areas__title green">Wymiana wiedzy</h5>
				<p class="areas__description">Cras ante massa, eleifend ut congue non, cursus et ante. Proin molestie risus at porta egestas. Nullam et ex ligula. Integer fringilla neque eu lorem hendrerit finibus.</p>
			</div>
		</div>
		<div class="areas__area">
			<div class="areas__icon green">
				@@include('../../img/about/001-portfolio.svg')
			</div>
			<div class="areas__content">
				<h5 class="areas__title green">Kontakt z biznesem</h5>
				<p class="areas__description">Cras ante massa, eleifend ut congue non, cursus et ante. Proin molestie risus at porta egestas. Nullam et ex ligula. Integer fringilla neque eu lorem hendrerit finibus.</p>
			</div>
		</div>
	</div>
</section>
