<section class="container" id="kim_jesteśmy">
	<h1 class="section__header">Kim jesteśmy?</h1>
	<p class="about__description">Jesteśmy jednym z najmłodszych kół działających na Uniwersytecie Ekonomicznym we Wrocławiu. Powstaliśmy, aby połączyć pasje i umiejętności studentów związane z tworzeniem stron i aplikacji internetowych, a następnie wykorzystywać je do realizacji wartościowych idei. Łącząc siły pragniemy stworzyć miejsce, w którym każda osoba zainteresowana tematyką koła będzie mogła rozwijać swoje umiejętności poprzez praktyczne projekty, szkolenia oraz wymianę wiedzy z pozostałymi członkami.</p>
	<div class="about__areas">
		<div class="areas__area">
			<div class="areas__icon blue">
				@@include('../../img/about/004-vector.svg')
			</div>
			<div class="areas__content">
				<h5 class="areas__title blue">Grafika komputerowa</h5>
				<p class="areas__description">Niezbędna w początkowych fazach każdego projektu. Jej celem jest zebranie wizji różnych członków zespołu projektowego oraz przekucie ich w ujednolicone wireframe’y i mockup’y. W tym celu najczęściej korzystamy z takich narzędzi, jak Adobe Illustrator, Adobe Photoshop, Pencil oraz Axure.</p>
			</div>
		</div>
		<div class="areas__area">
			<div class="areas__icon blue">
				@@include('../../img/about/006-computer.svg')
			</div>
			<div class="areas__content">
				<h5 class="areas__title blue">Frontend development</h5>
				<p class="areas__description">Może przybierać różne formy - od prostych stron wizytówek po rozbudowane interfejsy. Jest jednym z kluczowych czynników tworzących doświadczenie płynące z użytkowania aplikacji. Obejmuje każdy wizualny aspekt witryny oraz reakcje strony na działania podejmowane przez użytkownika.</p>
			</div>
		</div>
		<div class="areas__area">
			<div class="areas__icon blue">
				@@include('../../img/about/005-database.svg')
			</div>
			<div class="areas__content">
				<h5 class="areas__title blue">Backend development</h5>
				<p class="areas__description">Udowadnia, że najważniejsze jest to, czego nie widać. Obejmuje tworzenie systemów logowania i rejestracji, operacje na bazach danych, tworzenie zabezpieczeń oraz praktyczne wykorzystanie złożonych algorytmów do tworzenia wyszukiwarek, systemów uczących się i innych użytecznych narzędzi.</p>
			</div>
		</div>
		<div class="areas__area">
			<div class="areas__icon green">
				@@include('../../img/about/002-presentation.svg')
			</div>
			<div class="areas__content">
				<h5 class="areas__title green">Warsztaty</h5>
				<p class="areas__description">W kole działają zarówno osoby dopiero rozpoczynające swoją przygodę z programowaniem jak i Ci z całkiem pokaźnym portfolio projektowym. Pozwala nam to na realizowanie okresowych warsztatów wewnętrznych, na których bardziej doświadczeni członkowie prezentują najciekawsze zagadnienia dotyczące ich technologii.</p>
			</div>
		</div>
		<div class="areas__area">
			<div class="areas__icon green">
				@@include('../../img/about/003-books.svg')
			</div>
			<div class="areas__content">
				<h5 class="areas__title green">Wymiana wiedzy</h5>
				<p class="areas__description">Każdy członek koła sam decyduje, jakie technologie pragnie zgłębić. W efekcie koło stanowi doskonałe miejsce do dzielenia się swoimi doświadczeniami odnośnie pracy z wykorzystaniem różnych narzędzi. Całość dopełnia wewnętrzna baza wiedzy tworzona przez wszystkie osoby działające w KNWD.</p>
			</div>
		</div>
		<div class="areas__area">
			<div class="areas__icon green">
				@@include('../../img/about/001-portfolio.svg')
			</div>
			<div class="areas__content">
				<h5 class="areas__title green">Kontakt z biznesem</h5>
				<p class="areas__description">Utrzymujemy stały kontakt z osobami zawodowo zajmującymi się tworzeniem stron i aplikacji internetowych. Dzięki temu każdy zawsze może liczyć na wsparcie ze strony osoby posiadającej większą wiedzę i doświadczenie oraz poznać realia pracy na różnych stanowiskach.</p>
			</div>
		</div>
	</div>
</section>
