<section class="container">
	<h1 class="section__header">W czym pracujemy?</h1>
	<p class="tools__description">Nigdy nie narzucamy żadnemu z członkow technologii, w której będzie tworzył swoje projekty. Dzięki temu jako koło jesteśmy w stanie szybko aktualizować swoją wiedzę o najnowszych rozwiązaniach w świecie IT. Obecnie jesteśmy w stanie realizować projekty z wykorzystaniem takich technologii, narzędzi i bibliotek jak:</p>
	<div class="tools__list">
		<div class="tools__tool">
			<img src="./img/tools/html5.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/css3.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/logo-javascript.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/jquery.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/lodash.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/bootstrap-4.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/semantic-ui.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="../../img/tools/less.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/sass-1.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/npm.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/bower.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/gulp.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/webpack.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/babel-10.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/react.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/react-router.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/redux.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/material-ui.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/angular-icon.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/angular-icon-1.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/nodejs-icon.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/hapi.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/mongodb.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/oauth.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/meteor-icon.svg" class="tool__image"/>
		</div>
		<div class="tools__tool">
			<img src="./img/tools/php-1.svg" class="tool__image"/>
		</div>
	</div>
</section>
