<section class="container contact__container">
	<h1 class="section__header">Konakt</h1>
	<div class="contact__data">
		<div class="contact__element">
			<i class="fa fa-phone contact__icon" aria-hidden="true"></i>
			<p class="contact__text">601 545 105</p>
		</div>
		<div class="contact__element">
			<a href="https://www.facebook.com/knwdue/">
				<i class="fa fa-facebook contact__icon" aria-hidden="true"></i>
				<p class="contact__text">/knwdue</p>
			</a>
		</div>
		<div class="contact__element">
			<a href="http://instudy.pl/profil/593691f463bbc915165c0e59">
				<img class="contact__iconImg" src="./img/inStudy.png" alt="Logo inStudy">
				<p class="contact__text">/knwd</p>
			</a>
		</div>
		<div class="contact__element">
			<i class="fa fa-envelope contact__icon" aria-hidden="true"></i>
			<p class="contact__text">kontakt.knwd@gmail.com</p>
		</div>
	</div>
</section>
<div class="contact__line"></div>
