$partnersBorder: 1px solid #ddd;

.partners__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.partners__partner {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 285px;
	height: 200px;

	&:hover {
		cursor: pointer;

		.partners__logo {
			filter: grayscale(0) saturate(100%);
		}
	}

	@media (min-width: 1201px) {
		&:nth-child(-n+4) { border-bottom: $partnersBorder; }
		&:not(:nth-child(4n)){ border-right: $partnersBorder; }
	}

	@media (max-width: 1200px) and (min-width: 961px) {
		&:not(:nth-last-child(-n+2)) { border-bottom: $partnersBorder; }
		&:not(:nth-child(3n)):not(:last-child) { border-right: $partnersBorder; }
	}

	@media (max-width: 960px) and (min-width: 651px) {
		&:not(:nth-last-child(-n+2)) { border-bottom: $partnersBorder; }
		&:nth-child(2n-1) { border-right: $partnersBorder; }
	}

	@media (max-width: 650px) {
		&:not(:last-child) { border-bottom: $partnersBorder; }
	}
}

.partners__logo {
	max-width: 160px;
	max-height: 100px;
	filter: grayscale(1) saturate(0%);
	transition: all .3s;

   @media (max-width: 768px) {
		filter: grayscale(0) saturate(100%);
	}
}
