<section class="container">
	<h1 class="section__header">Z kim współpracujemy?</h1>
	<div class="partners__container">
		<div class="partners__partner">
			<img src="./img/partners/feb.png" alt="Partner - Forum Edukacji Biznesowej" class="partners__logo" />
		</div>
		<div class="partners__partner">
			<img src="./img/partners/brandico.png" alt="Partner - Brandico" class="partners__logo" />
		</div>
		<div class="partners__partner">
			<img src="./img/partners/wiggor.png" alt="Partner - Wiggor" class="partners__logo" />
		</div>
		<div class="partners__partner">
			<img src="./img/partners/promotion.png" alt="Partner - Promotion" class="partners__logo" />
		</div>
		<div class="partners__partner">
			<img src="./img/partners/ue.png" alt="Partner - Uniwersytet Ekonomiczny we Wrocławiu" class="partners__logo" />
		</div>
		<div class="partners__partner">
			<img src="./img/partners/kredek.jpg" alt="Partner - Kredek" class="partners__logo" />
		</div>
		<div class="partners__partner">
			<img src="./img/partners/osd.png" alt="Partner - Online System Developers" class="partners__logo" />
		</div>
		<div class="partners__partner">
			<img src="./img/partners/pgs.png" alt="Partner - PGS Software" class="partners__logo" />
		</div>
	</div>
</section>
