<section class="container" id="członkowie">
	<h1 class="section__header">Członkowie</h1>
	<div class="members__container">
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/konrad2.jpg" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Konrad Szwarc</h3>
			<p class="members__role">Prezes koła</p>
			<div class="members__socials">
				<a href="#" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/konrad1.jpg" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Konrad Barrek</h3>
			<p class="members__role">Prezes koła</p>
			<div class="members__socials">
				<a href="#" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/piotrek.jpg" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Piotr Pietruszka</h3>
			<p class="members__role">Backend leader</p>
			<div class="members__socials">
				<a href="#" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/kuba.jpg" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Jakub Kraczkowski</h3>
			<p class="members__role">Frontend leader</p>
			<div class="members__socials">
				<a href="#" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/maria.jpg" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Maria Prusakowska</h3>
			<p class="members__role">Grafika</p>
			<div class="members__socials">
				<a href="#" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/tobiasz.jpg" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Tobiasz Skoracki</h3>
			<p class="members__role">Marketing</p>
			<div class="members__socials">
				<a href="#" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/kasia.jpg" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Katsiaryna Charnavus</h3>
			<p class="members__role">Copywriting</p>
			<div class="members__socials">
				<a href="#" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/tomek.jpg" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Tomasz Anioł</h3>
			<p class="members__role">Frontend</p>
			<div class="members__socials">
				<a href="#" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/damian.jpg" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Damian Kołtan</h3>
			<p class="members__role">Full Stack</p>
			<div class="members__socials">
				<a href="#" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/paweł.jpg" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Paweł Laskowicz</h3>
			<p class="members__role">Frontend</p>
			<div class="members__socials">
				<a href="#" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/avatar.png" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Jakub Wesoły</h3>
			<p class="members__role">Frontend</p>
			<div class="members__socials">
				<a href="#" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/avatar.png" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Kacper Dryll</h3>
			<p class="members__role">Frontend</p>
			<div class="members__socials">
				<a href="#" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</section>
