<section class="container" id="członkowie">
	<h1 class="section__header">Członkowie</h1>
	<div class="members__container">
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/konrad_sz.jpg" alt="Konrad Szwarc" />
			</div>
			<h3 class="members__name">Konrad Szwarc</h3>
			<p class="members__role">Prezes koła</p>
			<div class="members__socials">
				<a href="https://pl-pl.facebook.com/people/Konrad-Szwarc/100006323824945" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="https://www.linkedin.com/in/konradszwarc/" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="https://github.com/KonradSzwarc" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/konrad_fx.jpg" alt="Konrad Fx" />
			</div>
			<h3 class="members__name">Konrad Fx</h3>
			<p class="members__role">Frontend leader</p>
			<div class="members__socials">
				<a href="https://www.facebook.com/efixjg" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/piotrek.jpg" alt="Piotr Pietruszka" />
			</div>
			<h3 class="members__name">Piotr Pietruszka</h3>
			<p class="members__role">Backend leader</p>
			<div class="members__socials">
				<a href="https://www.facebook.com/piotrek.pietruszka" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="https://github.com/pietruszka" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/kuba_k.jpg" alt="Jakub Kraczkowski" />
			</div>
			<h3 class="members__name">Jakub Kraczkowski</h3>
			<p class="members__role">Frontend</p>
			<div class="members__socials">
				<a href="https://www.facebook.com/jakub.kraczkowski.7" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="https://www.linkedin.com/in/jakub-kraczkowski-0a342713b/" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/maria.jpg" alt="Maria Prusakowska" />
			</div>
			<h3 class="members__name">Maria Prusakowska</h3>
			<p class="members__role">Grafika</p>
			<div class="members__socials">
				<a href="https://www.facebook.com/mar.Jaaaaa" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/tobiasz.jpg" alt="Tobiasz Skoracki" />
			</div>
			<h3 class="members__name">Tobiasz Skoracki</h3>
			<p class="members__role">Marketing</p>
			<div class="members__socials">
				<a href="https://www.facebook.com/tobiasz.skoracki" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/kasia.jpg" alt="Katsiaryna Charnavus" />
			</div>
			<h3 class="members__name">Katsiaryna Charnavus</h3>
			<p class="members__role">Marketing</p>
			<div class="members__socials">
				<a href="https://www.facebook.com/Katsiaryna.Charnavus" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/tomek.jpg" alt="Tomasz Anioł" />
			</div>
			<h3 class="members__name">Tomasz Anioł</h3>
			<p class="members__role">Frontend</p>
			<div class="members__socials">
				<a href="https://www.facebook.com/tomasz.aniol94" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="https://www.linkedin.com/in/tomaszaniol/" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="https://github.com/ThomasAngel" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/damian.jpg" alt="Damian Kołtan" />
			</div>
			<h3 class="members__name">Damian Kołtan</h3>
			<p class="members__role">Backend</p>
			<div class="members__socials">
				<a href="https://www.facebook.com/blinkinruzdecaber" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="https://github.com/kdamian" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/paweł.jpg" alt="Paweł Laskowicz" />
			</div>
			<h3 class="members__name">Paweł Laskowicz</h3>
			<p class="members__role">Frontend</p>
			<div class="members__socials">
				<a href="https://www.facebook.com/njsuun" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="https://github.com/laskowiczpawel" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/Jakub-Wesoły.jpg" alt="Jakub Wesoły" />
			</div>
			<h3 class="members__name">Jakub Wesoły</h3>
			<p class="members__role">Frontend</p>
			<div class="members__socials">
				<a href="https://www.facebook.com/jwwesoly" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="https://www.linkedin.com/in/jakub-wesoly/" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="members__member">
			<div class="members__imageWrapper">
				<img class="members__image" src="./img/members/kacper.jpg" alt="Kacper Dryll" />
			</div>
			<h3 class="members__name">Kacper Dryll</h3>
			<p class="members__role">Frontend</p>
			<div class="members__socials">
				<a href="https://www.facebook.com/kacper.dryll" class="socials__icon">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="https://www.linkedin.com/in/kacper-d/" class="socials__icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="https://github.com/dryll" class="socials__icon">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</section>
