<div class="nav__container">
	<img class="nav__logo" src="./img/Logo(poziomo).png" alt="Logo Kola Naukowego Web Designu">
	<nav class="nav__menu">
		<div class="nav__burger">
  			<span></span>
  			<span></span>
  			<span></span>
  			<span></span>
		</div>
		<ul class="nav__list">
			<li class="nav__list-element">Home</li>
			<li class="nav__list-element">Kim jesteśmy</li>
			<li class="nav__list-element">Projekty</li>
			<li class="nav__list-element">Członkowie</li>
			<li class="nav__list-element">Partnerzy</li>
			<li class="nav__list-element">Kontakt</li>
		</ul>
		<div class="nav__underline-container">
			<div class="nav__underline"></div>
		</div>
	</nav>
</div>
<div class="nav__filler"></div>
