<div class="nav__container">
	<img class="nav__logo" src="./img/Logo (poziomo).svg" alt="Logo Kola Naukowego Web Designu">
	<nav class="nav__menu">
		<div class="nav__burger">
  			<span></span>
  			<span></span>
  			<span></span>
  			<span></span>
		</div>
		<ul class="nav__list">
			<li class="nav__list-element A_home">Home</li>
			<li class="nav__list-element A_kim_jesteśmy">Kim jesteśmy</li>
			<li class="nav__list-element A_projekty">Projekty</li>
			<li class="nav__list-element A_partnerzy">Partnerzy</li>
			<li class="nav__list-element A_członkowie">Członkowie</li>
			<li class="nav__list-element A_kontakt">Kontakt</li>
			<li class="nav__list-element green" onclick="location.href = 'https://goo.gl/forms/shDFNjqOSskfYn2O2';">Dołącz</li>
		</ul>
		<div class="nav__underline-container">
			<div class="nav__underline"></div>
		</div>
	</nav>
</div>
<div class="nav__filler"></div>
